.mainHome{
    background-color: white;
    .aboutMe{
        background-color: $sectionLila100;
        margin: 0;
        .aboutMeContainer{
            margin: 0px 20px 0px 20px;
            padding: $paddingPadre;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .imgGiaContainer{
                padding: 20px;
                .carousel{
                    h5{
                        font-family: $fontFamily;
                    }
                }
            }
            .descriptionGia{
                padding: 20px;
                font-family: $fontFamily;
                text-align: center;
                h2{
                    color: $titleColor;
                    font-weight: 600;
                    letter-spacing: 7px;
                    margin: 10px 0px 40px 0px;
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                    color: $paragraphColor;
                    line-height: 30px;
                    margin: 20px 0px 20px 0px;
                }
            }
        }
    }
    .previewProductos{
        background-image: url(/Img/home_productos_cut.jpg);
        background-size: cover;
        .previewProductosContainer{
            margin: 0px 20px 0px 20px;
            padding: $paddingPadre;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: $fontFamily;
            .descriptionProductosContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 150px 30px 50px 30px;
                p{
                    margin: 5px 200px 5px 200px;
                    color: white;
                    font-size: 30px;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 5px;
                }
            }
            .buttonPreviewProductos{
                margin: 150px 30px 100px 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                .btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    margin: 0px 400px 0px 400px;
                    padding: $paddingPadre;
                    font-family: $fontFamily;
                    color: $paragraphColor;
                    font-weight: 400;
                    font-size: 24px;
                    text-align: center;
                    background-color: $buttonColor;
                    border-color: $buttonColor;
                    border-radius: 7px;
                    border-style: solid;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .previewContacto{
        background-image: url(/Img/home_contacto.jpg);
        background-size: cover;
        .previewContactoContainer{
            margin: 0px 20px 20px 20px;
            padding: $paddingPadre;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: $fontFamily;
            .descriptionContactoContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 150px 30px 50px 30px;
                p{
                    margin: 5px 200px 5px 200px;
                    color: white;
                    font-size: 30px;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 5px;
                }
            }
            .buttonPreviewContacto{
                margin: 150px 30px 100px 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                .btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    margin: 0px 400px 0px 400px;
                    padding: $paddingPadre;
                    font-family: $fontFamily;
                    color: $paragraphColor;
                    font-weight: 400;
                    font-size: 24px;
                    text-align: center;
                    background-color: $buttonColor;
                    border-color: $buttonColor;
                    border-radius: 7px;
                    border-style: solid;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
    }
}